.toast {
  position: absolute;
  top: 16px;
  left: 50%;
  min-width: 300px;
  max-width: 500px;
  transform: translateX(-50%);
  color: white;
  padding: 4px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  animation: slide-down 0.5s ease-out;
  font-size: 14px;

  > div {
    justify-content: space-between;
  }

  button {
    background-color: transparent;
    border: unset;
    padding: 4px;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}