.statistics {
  .ranking {
    display: flex;
    gap: 8px;
    margin-top: 16px;
    
    div {
      flex-grow: 1;
      border: 1px solid #F1F1F1;
      border-radius: 8px;
      padding: 8px;
      text-align: center;
      color: #595959;
      position: relative;
  
      .ranking-title {
        margin-bottom: 8px;
        font-size: 12px;
      }
  
      .ranking-value {
        font-weight: bold;
        font-size: 12px;
      }
  
      &:first-child {
        background-color: #FFF7F7;

        svg {
          fill: #ffd700;
        }
      }
  
      &:nth-child(2) {
        background-color: #EDF8F7;

        svg {
          fill: #c0c0c0;
        }
      }
  
      &:last-child {
        background-color: #EEE8F1;

        svg {
          fill: #cd7f32;
        }
      }
  
      svg {
        position: absolute;
        top: 0;
        right: 4px;
      }
    }
  }
}

@media (min-width: 988px) {
  .statistics {
    order: 3;
    max-width: 100%;
    width: 100%;
  }
}