.dashboard {
  &__container-content {
    padding: 0 16px;

    &-info {
      h1 {
        text-align: left;
        margin: 24px 0 8px;
      }

      p {
        color: #595959;
      }

      .data-empty {
        margin-top: 48px;

        h2 {
          text-align: center;
          margin: 16px 0 8px;
          font-weight: bold;
          color: #FFA8A8;
        }

        p {
          text-align: center;
        }

        svg {
          display: block;
          margin: 24px auto 16px;
        }
      }
    }

    &-select {
      display: flex;
      gap: 16px;

      div {
        width: 50%;

        select {
          width: 100%;
          max-width: 100%;
        }
      }
    }
  }
}

@media (min-width: 988px) {
  .dashboard {
    display: flex;
    min-height: 100vh;
    
    &__container {
      max-width: 1280px;
      width: 100%;

      &-content {
        padding-left: 64px;
        width: 100%;

        &-select {
          margin-top: 24px;
          
          .select-group {
            max-width: 600px;
            margin-top: 0;
          }
        }

        .bill {
          width: 100%;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          gap: 0 16px;
        }
      }
    }
  }
}