.has-account {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 32px;
  color: #595959;

  a {
    text-decoration: underline;
    color: #FFA8A8;
    font-weight: bold;
  }
}

@media (min-width: 988px) {
  .has-account {
    margin-bottom: 0;
  }
}