.delete {
  span {
    font-weight: bold;
  }

  button {
    background-color: #dc3545;
    margin: 24px auto 0 !important;
    display: block;
  }

  .option_card {
    color: #ccc;
    margin-bottom: 8px;
  }
}