.cards {
  overflow: hidden;
  margin-right: -16px;
  
  h1 {
    text-align: left;
    margin-top: 24px;
    margin-bottom: 16px;
  }
  
  &__container {
    display: flex;
    gap: 16px;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
      scrollbar-width: none;
    }

    &-content {
      padding: 16px;
      border-radius: 12px;
      justify-content: space-between;
      min-width: 290px;
      cursor: pointer;
      background-color: transparent;
      border: unset;
      
      &:last-child {
        margin-right: 16px;
      }
      
      div {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        align-items: center;
        
        p {
          color: #fff;
        }

        &:not(:last-child) {
          margin-bottom: 24px;
        }
      }

      &__payable {
        font-weight: bold;
      }
    }
  }
}

@media (min-width: 988px) {
  .cards {
    margin-right: 0;
    width: 100%;

    &__container {
      flex-wrap: wrap;

      &-content {
        flex-grow: 1;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}