.chart {
  h1 {
    text-align: left;
    margin-top: 24px;
    margin-bottom: 16px;
  }

  &__container {
    position: relative;

    canvas {
      background-color: #FFF7F7;
      border-radius: 8px;
      max-height: 280px;
      padding: 8px;
    }
  }
}

@media (min-width: 988px) {
  .chart {
    &__container {
      min-width: 592px;
      min-height: 248px;

      canvas {
        width: 592px;
      }
    }
  }
  
}